@font-face {
  font-family: "iconfont"; /* Project id 4256029 */
  src: url('iconfont.woff2?t=1714459049904') format('woff2'),
       url('iconfont.woff?t=1714459049904') format('woff'),
       url('iconfont.ttf?t=1714459049904') format('truetype');
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yidongbiaoge:before {
  content: "\e632";
}

.icon-bianjiqi:before {
  content: "\e6bc";
}

.icon-fuhao-zuoduiqi:before {
  content: "\e720";
}

.icon-fuhao-youduiqi:before {
  content: "\e71e";
}

.icon-fuhao-juzhongduiqi:before {
  content: "\e71f";
}

.icon-cuocha_kuai1:before {
  content: "\e609";
}

.icon-gouxuan:before {
  content: "\e61b";
}

.icon-shendushaicha:before {
  content: "\e6bb";
}

.icon-fengexian:before {
  content: "\e6ba";
}

.icon-crop:before {
  content: "\ea33";
}

.icon-shoucang:before {
  content: "\e611";
}

.icon-biaodanzujian-shurukuang:before {
  content: "\eb94";
}

.icon-weidu:before {
  content: "\e6b5";
}

.icon-yonghudenglu:before {
  content: "\e64a";
}

.icon-ditudizhidingwei-xianxingtubiao-01:before {
  content: "\e6b6";
}

.icon-fabu-xianxingtubiao-01:before {
  content: "\e6b8";
}

.icon-dianhua-xianxingtubiao-01:before {
  content: "\e6b9";
}

.icon-yingyong:before {
  content: "\e61d";
}

.icon-calendar:before {
  content: "\e6b4";
}

.icon-download:before {
  content: "\e6a7";
}

.icon-export:before {
  content: "\e6b2";
}

.icon-print:before {
  content: "\e6b3";
}

.icon-bianji:before {
  content: "\e6b1";
}

.icon-user:before {
  content: "\e6b0";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-up-circle:before {
  content: "\e666";
}

.icon-arrow-right-circle:before {
  content: "\e667";
}

.icon-arrow-down:before {
  content: "\e668";
}

.icon-ashbin:before {
  content: "\e669";
}

.icon-arrow-right:before {
  content: "\e66a";
}

.icon-browse:before {
  content: "\e66b";
}

.icon-back:before {
  content: "\e66c";
}

.icon-arrow-double-left:before {
  content: "\e66d";
}

.icon-arrow-left-circle:before {
  content: "\e66e";
}

.icon-arrow-double-right:before {
  content: "\e66f";
}

.icon-close:before {
  content: "\e670";
}

.icon-direction-down:before {
  content: "\e671";
}

.icon-direction-down-circle:before {
  content: "\e672";
}

.icon-direction-right:before {
  content: "\e673";
}

.icon-direction-up:before {
  content: "\e674";
}

.icon-direction-left:before {
  content: "\e675";
}

.icon-elipsis:before {
  content: "\e676";
}

.icon-edit:before {
  content: "\e677";
}

.icon-error:before {
  content: "\e678";
}

.icon-favorite:before {
  content: "\e679";
}

.icon-filter:before {
  content: "\e67a";
}

.icon-home:before {
  content: "\e67b";
}

.icon-forward:before {
  content: "\e67c";
}

.icon-link:before {
  content: "\e67d";
}

.icon-fullscreen-shrink:before {
  content: "\e67e";
}

.icon-layers:before {
  content: "\e67f";
}

.icon-lock:before {
  content: "\e680";
}

.icon-fullscreen-expand:before {
  content: "\e681";
}

.icon-map:before {
  content: "\e682";
}

.icon-help:before {
  content: "\e683";
}

.icon-minus-circle:before {
  content: "\e684";
}

.icon-notification:before {
  content: "\e685";
}

.icon-more:before {
  content: "\e686";
}

.icon-minus:before {
  content: "\e687";
}

.icon-prompt:before {
  content: "\e688";
}

.icon-refresh:before {
  content: "\e689";
}

.icon-search:before {
  content: "\e68a";
}

.icon-share:before {
  content: "\e68b";
}

.icon-select:before {
  content: "\e68c";
}

.icon-stop:before {
  content: "\e68d";
}

.icon-success:before {
  content: "\e68e";
}

.icon-setting:before {
  content: "\e68f";
}

.icon-survey:before {
  content: "\e691";
}

.icon-time:before {
  content: "\e692";
}

.icon-unlock:before {
  content: "\e693";
}

.icon-warning:before {
  content: "\e694";
}

.icon-zoom-in:before {
  content: "\e695";
}

.icon-zoom-out:before {
  content: "\e696";
}

.icon-add-bold:before {
  content: "\e697";
}

.icon-arrow-left-bold:before {
  content: "\e698";
}

.icon-arrow-up-bold:before {
  content: "\e699";
}

.icon-close-bold:before {
  content: "\e69a";
}

.icon-arrow-down-bold:before {
  content: "\e69b";
}

.icon-minus-bold:before {
  content: "\e69c";
}

.icon-arrow-right-bold:before {
  content: "\e69d";
}

.icon-select-bold:before {
  content: "\e69e";
}

.icon-arrow-up-filling:before {
  content: "\e69f";
}

.icon-arrow-down-filling:before {
  content: "\e6a0";
}

.icon-arrow-left-filling:before {
  content: "\e6a1";
}

.icon-arrow-right-filling:before {
  content: "\e6a2";
}

.icon-clock-filling:before {
  content: "\e6a3";
}

.icon-delete-filling:before {
  content: "\e6a4";
}

.icon-help-filling:before {
  content: "\e6a5";
}

.icon-filter-filling:before {
  content: "\e6a6";
}

.icon-notification-filling:before {
  content: "\e6a8";
}

.icon-user-filling:before {
  content: "\e6a9";
}

.icon-setting-filling:before {
  content: "\e6aa";
}

.icon-success-filling:before {
  content: "\e6ab";
}

.icon-warning-filling:before {
  content: "\e6ac";
}

.icon-prompt-filling:before {
  content: "\e6ad";
}

.icon-home-filling:before {
  content: "\e6ae";
}

.icon-sorting:before {
  content: "\e6af";
}

.icon-next1:before {
  content: "\e690";
}

.icon-next:before {
  content: "\e6b7";
}

