:root {
  --jlg-phones-phones-per-row:  #{$jlg-phones-phones-per-row};
  --jlg-landscape-phones-per-row: #{$jlg-landscape-phones-per-row};
  --jlg-tablets-per-row: #{$jlg-tablets-per-row};
  --jlg-desktops-per-row: #{$jlg-desktops-per-row};
  --jlg-large-desktops-per-row: #{$jlg-large-desktops-per-row};
  --jlg-huge-desktops-per-row: #{$jlg-huge-desktops-per-row};
  --jlg-filter-margin-right: #{$jlg-filter-margin-right};
  --jlg-filter-select-background: #{$jlg-filter-select-background};
  --jlg-filter-select-color:  #{$jlg-filter-select-color};
}