.table-filter {
  width: 100%;
  //background:red;
  overflow: hidden;

  .table-filter__container {
    width: calc(100% + 16px);
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
    transition: height 0.3s;

    &.is--folding {
      height: 0;
      overflow: hidden;
    }

    :deep(.el-form-item__content) {
      margin-right: var(--jlg-filter-margin-right);
    }
  }

  .table-filter__operation {
    width: 100%;

    .table-filter__divider {
      width: 100%;
      display: flex;
      align-items: center;
      color: var(--el-color-primary);
    }
  }

  .text-overflow-hidden {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:deep(.jlg-popper--quick--search) {
  background: #FFFFFF;
  border-radius: 10px;
  height: auto;

  .jlg-popover__wrapper {
    .jlg-popover__title {
      height: 49px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      font-size: 18px;
      color: #303133;
      border-bottom: 1px solid var(--el-border-color);
    }
    .jlg-popover__body{
      height: auto;
      min-height: 100px;
      max-height: 293px;
      overflow-y: auto;
      box-sizing: border-box;
      text-align: left ;
      overflow-x: hidden;
      padding: 10px 10px 0;
    }
    .jlg-popover__footer{
        height: 59px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        font-size: 18px;
        color: #303133;
        border-top: 1px solid var(--el-border-color);
    }
  }
}