/*table-filter*/
$jlg-phones-phones-per-row : 100%;
$jlg-landscape-phones-per-row : 50%;
$jlg-tablets-per-row : 33.33%;
$jlg-desktops-per-row : 25%;
$jlg-large-desktops-per-row : 25%;
$jlg-huge-desktops-per-row : 20%;
$jlg-filter-margin-right : 40px;
$jlg-filter-select-background : #e0e0e0;
$jlg-filter-select-color : #909399;

