/* stylelint-disable comment-empty-line-before */

:root {
	/* 菜单组件一级菜单背景色 */
	--jlg-menu-bg: #202e31;
	/* 菜单组件宽度 */
	--jlg-menu-width: 100px;
	/* 菜单组件一级菜单x轴padding值 */
	--jlg-menu-x-padding: 5px;
	/* 菜单组件一级菜单y轴padding值 */
	--jlg-menu-y-padding: 10px;
	/* 菜单组件一级菜单项选中背景色 */
	--jlg-menu-first-level-focus-bg: #2d5bac;
	/* 菜单组件一级菜单项鼠标悬浮hover背景色 */
	--jlg-menu-first-level-hover-bg: #273438;
	/* 菜单组件一级菜单项字体颜色 */
	--jlg-menu-first-level-color: #fff;
	/* 菜单组件一级菜单项hover字体颜色 */
	--jlg-menu-first-level-hover-color: #d7d7d7;
	/* 菜单组件一级菜单项圆角 */
	--jlg-menu-first-level-border-radius: 2px;
	/* 菜单组件一级菜单项y轴margin */
	--jlg-menu-first-level-y-margin: 10px;
	/* 菜单组件一级菜单项x轴margin */
	--jlg-menu-first-level-x-margin: 0px;
	// 菜单组件弹窗背景色
	--jlg-menu-popover-bg: #151f22;
	// 菜单组件弹窗字体颜色
	--jlg-menu-popover-color: #ccc;
	// 菜单组件三级菜单hover字体颜色
	--jlg-menu-three-level-hover-bg: #2d5bac;
}
